
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class='row'>

  <div class="col-md-12 info">
    <h1>Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'btn btn-primary btnSignUp' %>
    </div>
  <% end %>
  </div>


</div>



<style>
.info{
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  height: 100vh;

}
#user_avatar{
  position: relative;
  left: 550px;
}

  h1{
    font-size: 50px;
  }

  label{
    font-size: 25px;
  }

  input[type=text], input[type=email], input[type=password]{
    width: 300px;
    color: black;
    text-align: center;
    height: 25px;
    background-color:rgba(255,255,255,0.8);
    border: 1px solid grey;
    border-radius: 5px;
  }
  .btnSignUp{
    width: 15%;
    background-color: rgba(51,122,183,0.5);
    color: white;
  }
  body{
    text-align: center;
    color: white;
    background-image: url("/assets/cats4.jpg");
    background-size: 100%;
    font-family: 'Slabo 27px', serif;
    background-repeat: no-repeat;
   
  }

</style>