<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :uploadBy %><br>
    <%= f.date_field :uploadBy %>
  </div>
  <div class="field">
    <%= f.label :voteBy %><br>
    <%= f.date_field :voteBy %>
  </div>
  <div class="field">
    <%= f.label :endBy %><br>
    <%= f.date_field :endBy %>
  </div>

  <div class="field">
    <%= f.label :cover %><br />
    <%= f.file_field :cover %>c
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
