<%= render "layouts/navbar" %>


<% contest = @contest %>

<div data-id="<%=contest.id%>" class="activeBanner">
    <img data-id="<%=contest.id%>" src="<%=contest.cover.url(:long)%>">
    
      <div class="titleBanner"><h1><%=contest.name%></h1></div>
      <div class="description"><h2><%=contest.description%></h1></div>
      <div class="timeTill">
        <% if contest.uploadBy >= Date.today && contest.voteBy > Date.today %>
          <h2>You have <%= (contest.voteBy - Date.today).to_i %> days to enter. </h2>
        <%end%>
        <% if contest.uploadBy < Date.today && contest.voteBy <= Date.today  && contest.endBy > Date.today %>
          <h2>You have <%= (contest.endBy - Date.today).to_i %> days to Vote. </h2>
        <%end%>

      <% if contest.endBy <= Date.today%>
         <% if((Date.today - contest.endBy).to_i == 0)%>
          <% elsif ((Date.today - contest.endBy).to_i == 1) %>
            Contest ended <%= (Date.today - contest.endBy).to_i %> day ago. 
          <% else %>
            Contest ended <%= (Date.today - contest.endBy).to_i %> days ago.
        <%end%>
      <%end%>

      </div>
  
  </div>
<br>
<br>
<h1> Choose the picture you want to Enter into this competition:</h1>
<br>
<br>

</div> 
	<% current_user.posts.each do |post| %>
		<a href='/contest/<%=contest.id%>/enter/<%=post.id%>'><img src="<%=post.image.url(:medium) %>"></a>
	<%end%>
</p>

<script>

  $(".activeBanner").children(".titleBanner").show();
  $(".activeBanner").children(".links").show();
  $(".activeBanner").children(".timeTill").show();
  $(".activeBanner").children(".description").show();
  $(".activeBanner").children('img').css("opacity","0.5");
  $(".activeBanner").children('img').css("filter","alpha(opacity=50)");


$(".link").hover(function(){
  $(this).css("background-color", "transparent");
  $(this).css("color", "white");
});

$(".linkToUser").hover(function(){
  $(this).css("background-color", "transparent");
  $(this).css("color", "white");
});



</script>


<style>
.jumbotron{
  background-color: black;
  color: white;
}
.linkOptions{
  color: white;
  padding-left: 7px;

}
.btnEnter{
    width: 17%;
    background-color: rgba(92,184,92,0.5);
    color: white;
  }
  body{
    text-align: center;
  }

.btnSee{

    width: 17%;
  background-color: rgba(51,122,183,0.5);
  color: white;
}
.btnEdit{
  width: 17%;
 background-color:  rgba(239,172,77,0.5);
}

.activeBanner {
    background-color: black;
    position:relative; 
  
}
h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

 h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

 body{
  background-color: #EDEDED;
 }

.titleBanner {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 15%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.timeTill {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 50%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.description {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 30%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}

.links {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 70%; 
    bottom: 0; 
    background: red; 
    color: white;
    font-family: 'Slabo 27px', serif;
}


#container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
}

</style>