<p id="notice"><%= notice %></p>

<h1>Listing Contests</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th>String</th>
      <th>Datetime</th>
      <th>Datetime</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.string %></td>
        <td><%= contest.string %></td>
        <td><%= contest.datetime %></td>
        <td><%= contest.datetime %></td>
        <td><%= contest.datetime %></td>
        <td><%= link_to 'Show', contest %></td>
        <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_contest_path %>
