<%= render "layouts/navbar" %>
<p id="notice"><%= notice %></p>

<h1>Listing Contests</h1>

<strong><h1>Enter In a Competition</h2></strong>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start</th>
      <th>Close</th>
      <th>End</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <% if contest.uploadBy <= Date.today && contest.voteBy > Date.today %>
          <td><%= contest.name %></td>
          <td><%= contest.description %></td>
          <td><%= contest.uploadBy %></td>
          <td><%= contest.voteBy %></td>
          <td><%= contest.endBy %></td>
          <td><%= contest.posts.size %></td>
          <% if current_user.role == "mod" %>
            <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
            <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you  sure?' } %></td>
          <% end %>
            <td><%= link_to 'Show', contest %></td>
          <% contest.users.each do |user| %>
            <% if user.id != current_user.id %>
              <% @userEntered = false %>
            <%else%>
              <% @userEntered = true %>
              <% break %>
            <%end%>
          <%end%>

          <% if @userEntered == false || contest.users.size == 0 %>
            <td><%= link_to 'Enter', contest_enter_path(contest) %></td>
          <%end%>

        <%end%>

      </tr>
    <% end %>

  </tbody>
</table>

<br>

<strong><h1>Vote In a Competition</h2></strong>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start</th>
      <th>Close</th>
      <th>End</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <% if contest.voteBy <= Date.today && contest.endBy > Date.today %>
          <td><%= contest.name %></td>
          <td><%= contest.description %></td>
          <td><%= contest.uploadBy %></td>
          <td><%= contest.voteBy %></td>
          <td><%= contest.endBy %></td>
          <td><%= contest.posts.size %></td>
          <% if current_user.role == "mod" %>
            <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
            <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you  sure?' } %></td>
          <% end %>
            <td><%= link_to 'Show', contest %></td>
          <% contest.users.each do |user| %>
            <% if user.id != current_user.id %>
              <% @userEntered = false %>
            <%else%>
              <% @userEntered = true %>
              <% break %>
            <%end%>
          <%end%>

            <td><%= link_to 'Vote', contest_vote_path(contest) %></td>

        <%end%>

      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_contest_path %>
