<p id="notice"><%= notice %></p>

<h1>Listing Contests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start</th>
      <th>Close</th>
      <th>End</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.name %></td>
        <td><%= contest.description %></td>
        <td><%= contest.uploadBy %></td>
        <td><%= contest.voteBy %></td>
        <td><%= contest.endBy %></td>
        <td><%= contest.posts.size %></td>
        <td><%= link_to 'Show', contest %></td>
        <td><%= link_to 'Enter', contest_enter_path(contest) %></td>
        <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_contest_path %>
