<%= render "layouts/navbar" %>
Hello, <%=@user[0].email%>

<h1> <%=@user[0].username%>'s Posts</h1>

<%= image_tag @user[0].avatar.url(:thumb) %>


<%= render partial: "layouts/gridLayout", locals: {posts: @posts} %>
 <%= render "layouts/showModal" %>


