<%= render "layouts/navbar" %>


<%= link_to 'New Post', new_post_path(current_user) %>
<br>
<br>
<br>



  <div id="myContent"> 

  <% @posts.each do |post| %> 

    <div data-id="<%=post.id%>" class="active">
      <img data-id="<%=post.id%>" data-usr="<%=post.user_id%>" src="<%=post.image.url(:original) %>">
      <div class="title"><h3><%=post.name%></h3></div>
      <div class="photographer"><h6>by:</h6><h4><%=User.where(id: post.user_id)[0].username%></h4></div>
      <div class="buttons">
        <a href="/posts/<%=post.id%>"><button class="btn btn-success seeMore">Show</button></a><br>
        <% if current_user.id === post.user_id %>
         <a href="/posts/<%=post.id%>/edit"><button class="btn btn-warning edit">Edit</button></a><br>
         <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/posts/2"><button class="btn btn-danger delete">Delete</button></a>
        <% end %>
      </div>




    </div>
  <% end %>
  </div> 


<br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>

  $(".title").hide();
  $(".photographer").hide();
  $(".buttons").hide();


$("div > div", "#tab");

$(".active").mouseover(function(){
  console.log("hello");
  $(this).children(".title").show();
  $(this).children(".photographer").show();
  $(this).children(".buttons").show();
  $(this).children('img').css("opacity","0.5");
  $(this).children('img').css("filter","alpha(opacity=50)");
})

$(".active").mouseout(function(){
  $(this).children('img').css("opacity","1");
  $(".title").hide();
  $(".photographer").hide();
  $(".buttons").hide();
  $(this).children('img').css("filter","alpha(opacity=100)");
});

</script>

<style>

.seeMore{
    width: 60px;
    background-color: rgba(92,184,92,0.5);
    color: white;
  }
.edit{
    width: 60px;
    background-color: rgba(240, 173, 78, 0.5);
    color: white;
  }
  .delete{
    width: 60px;
    background-color: rgba(201, 48, 44, 0.5);
    color: white;
  }

.active {
    background-color: black;
    position:relative; 
  
}
.title {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 23%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.photographer {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 45%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.buttons {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 130px; 
    top: 29%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}

#container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
}

#myContent {
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
  width: 100%;
}

#myContent img{
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
}

</style>