<%= render "layouts/navbar" %>
  <div id="myContent"> 
  <% @posts.each do |post| %> 
    <div data-id="<%=post.id%>" class="active">
      <img data-id="<%=post.id%>" data-usr="<%=post.user_id%>" src="<%=post.image.url(:original) %>">
      
        <div class="title"><h3><%=post.name%></h3></div>
        <div class="photographer">
          <h6>by:</h6>
          <a class="linkToUser" href="/users/<%=post.user_id%>"><h4><%=User.where(id: post.user_id)[0].username%></h4><a>
        </div>
        <div class="links">
          <% if current_user.id === post.user_id %>
             <a class="linkOptions" href="/posts/<%=post.id%>/edit">Edit</a>
          <% end %>
            <a class="linkOptions showPic" data-post="<%=post.id%>" data-toggle="modal" data-target="#myModal" href="#">Show</a>
          <% if current_user.id === post.user_id %>
             <a class="linkOptions" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/posts/<%=post.id%>">Delete</a>
          <% end %>
        </div>
    </div>
  <% end %>
  </div> 
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-xl inverse" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-8 pictureView">
                        Goodbye
                      </div>
                      <div class="col-md-3">
                        Hello
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
<br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>

  $(".title").hide();
  $(".photographer").hide();
  $(".links").hide();
  $(".linkOptions").css("color", "white");
  $(".linkToUser").css("color", "white");



$(".showPic").click(function(){
  event.preventDefault();
  var post_id = $(this).data("post");
  console.log(post_id);
  $.ajax({
    url: "http://localhost:3000/getPostInfo/"+post_id+"",
    success: function(data) {
      $(".modal-title").empty();
      $(".modal-title").append(""+data.name+"");
      $(".pictureView").empty();
      $(".pictureView").append("<img class='imageShow' src='/images/original/"+data.image_file_name+"'>");
    },
    error: function(){
      console.log("this is not working")
    }
  })
  $(".active").children('#myModal').focus();
});

$(".active").mouseover(function(){
  console.log("hello");
  $(this).children(".title").show();
  $(this).children(".photographer").show();
  $(this).children(".links").show();
  $(this).children('img').css("opacity","0.5");
  $(this).children('img').css("filter","alpha(opacity=50)");
});

$(".linkOptions").hover(function(){
  $(this).css("background-color", "transparent");
  $(this).css("color", "white");
});

$(".linkToUser").hover(function(){
  $(this).css("background-color", "transparent");
  $(this).css("color", "white");
});

$(".active").mouseout(function(){
  $(this).children('img').css("opacity","1");
  $(".title").hide();
  $(".photographer").hide();
  $(".links").hide();
  $(this).children('img').css("filter","alpha(opacity=100)");
});

</script>

<style>

.modal-xl {
  width: 90%;
   max-width:1200px;
   font-family: 'Slabo 27px', serif;
  }

.pictureView{

  padding-bottom: 10px;
}
.imageShow{
  width: 100%;
}
body{
  background-color: #EDEDED;
}
.modal-title{
  text-align: center;
}


.linkOptions{
  color: white;
  padding-left: 7px;

}

.seeMore{
    width: 60px;
    background-color: rgba(92,184,92,0.5);
    color: white;
  }
.edit{
    width: 60px;
    background-color: rgba(240, 173, 78, 0.5);
    color: white;
  }
  .delete{
    width: 60px;
    background-color: rgba(201, 48, 44, 0.5);
    color: white;
  }

.active {
    background-color: black;
    position:relative; 
  
}
h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

 h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 15%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.photographer {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 35%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.links {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 70%; 
    bottom: 0; 
    background: red; 
    color: white;
    font-family: 'Slabo 27px', serif;
}


#container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
}

#myContent {
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
  width: 100%;
}

#myContent img{
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
}

</style>