<div id="myContent"> 
  <% posts.each do |post| %> 
    <div data-id="<%=post.id%>" class="active">
      <img data-id="<%=post.id%>" data-usr="<%=post.user_id%>" src="<%=post.image.url(:original) %>">
      
        <div class="title"><h3><%=post.name%></h3></div>
        <div class="photographer">
          <h6>by:</h6>
          <a class="linkToUser" href="/users/<%=post.user_id%>"><h4><%=User.where(id: post.user_id)[0].username%></h4><a>
        </div>
        <div class="links">
          <% if current_user.id === post.user_id %>
             <a class="linkOptions" href="/posts/<%=post.id%>/edit">Edit</a>
          <% end %>
          <% post.likes.each do |like|%>
              <%if like.user_id != current_user.id %>
                <% @userliked = false %>
              <%else%>
                <% @userliked = true %>
                <% break %>
              <%end%>
            <%end%>
            <%if @userliked == false || post.likes.size == 0%>
              <a class="linkOptions likePic" data-userid="<%=current_user.id%>" data-postid="<%=post.id%>" href="#">Like</a>
            <%end%>
            <a class="linkOptions showPic" data-post="<%=post.id%>" data-toggle="modal" data-target="#myModal" href="#">Show</a>
          <% if current_user.id === post.user_id %>
             <a class="linkOptions" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/posts/<%=post.id%>">Delete</a>
          <% end %>
        </div>
    </div>
  <% end %>
  </div> 


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>

  $(".title").hide();
  $(".photographer").hide();
  $(".links").hide();
  $(".linkOptions").css("color", "white");
  $(".linkToUser").css("color", "white");

$(".likePic").click(function() {
    event.preventDefault();
    $.ajax({
        type: "POST",
        url: "/posts/likes/create",
        data: {
            post_id: $(this).data("postid"),
            user_id: $(this).data("userid")
        },
        success: function() {
          console.log("You have liked this picture");
        }
    });
    $(this).hide();
});

$(".active").mouseover(function(){
  console.log("hello");
  $(this).children(".title").show();
  $(this).children(".photographer").show();
  $(this).children(".links").show();
  $(this).children('img').css("opacity","0.5");
  $(this).children('img').css("filter","alpha(opacity=50)");
});

$(".linkOptions").hover(function(){
  $(this).css("background-color", "transparent");
  $(this).css("color", "white");
});

$(".linkToUser").hover(function(){
  $(this).css("background-color", "transparent");
  $(this).css("color", "white");
});

$(".active").mouseout(function(){
  $(this).children('img').css("opacity","1");
  $(".title").hide();
  $(".photographer").hide();
  $(".links").hide();
  $(this).children('img').css("filter","alpha(opacity=100)");
});



</script>

<style>


body{
  background-color: #EDEDED;
}
.modal-title{
  text-align: center;
}


.linkOptions{
  color: white;
  padding-left: 7px;

}

.seeMore{
    width: 60px;
    background-color: rgba(92,184,92,0.5);
    color: white;
  }
.edit{
    width: 60px;
    background-color: rgba(240, 173, 78, 0.5);
    color: white;
  }
  .delete{
    width: 60px;
    background-color: rgba(201, 48, 44, 0.5);
    color: white;
  }

.active {
    background-color: black;
    position:relative; 
  
}
h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

 h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 15%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.photographer {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 35%; 
    bottom: 0; 
    background: red; 
    color:white;
    font-family: 'Slabo 27px', serif;
}
.links {
    position: absolute; 
    width: 100%;
    text-align: center;
    height: 0px; 
    right: 0; 
    top: 70%; 
    bottom: 0; 
    background: red; 
    color: white;
    font-family: 'Slabo 27px', serif;
}


#container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
}

@media (max-width: 600px) {
  #myContent {
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 900px){
  #myContent {
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    width: 100%;
  }
}

@media (min-width: 900px) {
  #myContent {
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    width: 100%;
  }
}

#myContent img{
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
}

</style>

